<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.farm_animals_shop.user.mapper.QuestionMapper">
    <!--질문DTO-->
    <resultMap id="question" type="QuestionDTO">
        <id column="QUESTIONS_NUM" property="questionsNum"/>
        <result column="TITLE" property="title"/>
        <result column="CONTENT" property="content"/>
        <result column="REG_DATE" property="regDate"/>
        <result column="READ_CNT" property="readCnt"/>
        <result column="USER_ID" property="userId"/>
        <result column="PRODUCT_NUM" property="productNum"/>
    </resultMap>

    <!--사용자DTO-->
    <resultMap id="user" type="UserDTO">
        <result column="USER_ID" property="userId"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_PASSWORD" property="userPassword"/>
        <result column="USER_ADDR" property="userAddr"/>
        <result column="USER_EMAIL" property="userEmail"/>
        <result column="USER_TEL" property="userTel"/>
        <result column="USER_JOIN_DATE" property="userJoinDate"/>
    </resultMap>

    <!--Q&A 게시글 등록 쿼리(첨부파일보류)-->
    <insert id="insertQuestion">
        INSERT INTO QUESTIONS (
            TITLE
            , USER_NAME
            , READ_CNT
        ) VALUES (
            #{title}
            , #{userName}
            , #{readCnt}
        )
    </insert>

</mapper>































