<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.farm_animals_shop.user.mapper.QuestionMapper">

    <!--검색 버튼 클릭 시 게시글 목록 조회-->
    <select id="getQuestionList" resultType="QuestionDTO">
        SELECT QUESTION_NUM
            , TITLE
            , USER_ID
            , REG_DATE
            , READ_CNT
        FROM QUESTIONS
        <if test="searchValue != null and searchValue != ''">
            AND ${searchKeyword} LIKE CONCAT('%', #{searchValue}, '%')
        </if>
    </select>

    <!--Q&A 게시글 등록 쿼리(첨부파일보류)-->
    <insert id="insertQuestion">
        INSERT INTO QUESTIONS (
            TITLE
            , USER_ID
            , CONTENT
        ) VALUES (
            #{title}
            , #{userId}
            , #{content}
        )
    </insert>

    <!--Q&A 게시글 상세 조회-->
    <select id="getQuestion" resultType="QuestionDTO">
        SELECT *
        FROM QUESTIONS
        WHERE QUESTION_NUM = #{questionNum}
    </select>

    <!--Q&A 게시글 삭제-->
    <delete id="deleteQuestion">
        DELETE FROM QUESTIONS
        WHERE QUESTION_NUM = #{questionNum}
    </delete>

    <!--Q&A 게시글 수정-->
    <update id="updateQuestion">
        UPDATE QUESTIONS
        SET
            TITLE = #{title}
            , CONTENT = #{content}
    </update>

    <!--Q&A 게시글 조회수 증가-->
    <update id="updateReadCnt">
        UPDATE QUESTIONS
        SET
        READ_CNT = READ_CNT + 1
        WHERE NumQUESTION_NUM = #{questionNum}
    </update>

    <!--답글 목록 조회-->
    <select id="getAnswerList" resultType="AnswerDTO">
        SELECT *
        FROM QUESTION_ANSWER
        WHERE QUESTION_NUM = #{questionNum}
        ORDER BY REG_DATE DESC
    </select>

    <!--답글 등록-->
    <insert id="insertAnswer">
        INSERT INTO QUESTION_ANSWER (
            CONTENT
            , WRITER
            , QUESTION_NUM
        ) VALUES (
            #{content}
            , #{writer}
            , #{questionNum}
        )
    </insert>

    <!--답글 삭제-->
    <delete id="deleteAnswer">
        DELETE FROM QUESTION_ANSWER
        WHERE ANSWER_NUM = #{answerNum}
    </delete>

</mapper>































