.container{
  width: 90%;
  height: 100vh;
  margin: 50px auto;
  border: 10px solid rgb(172, 171, 233);
  border-radius: 10px;
  padding: 50px;
  display: flex;
}
.container>div{
  border: 1px solid black;
}
.container>div:first-child{
  flex: 1;
}
.container>div:last-child{
  flex: 3;
}

.main-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* border: 1px solid black; */
}

.main-content>div:first-child>div:last-child{
  display: flex;
  gap: 10px;
}